// Place imports you'd like to ignore in this file
module.exports = {
  MODULES: [
    null,
    'React, {Component, PropTypes}',
    'React, { Component, PropTypes }',
    'React, { PropTypes, Component }',
    'React, { PropTypes }',
    'React, {PropTypes}',
    '{PropTypes}',
    '{Component, PropTypes}',
    'humps',
    'sync',
    '{connect}',
    'actions',
    '{Provider}',
    'store',
    'moment',
  ]
}
